.card {
    background-color: #2d464c;
    color: whitesmoke;

} 
 li {
     list-style: none;
 }
 img{
     margin-top: 20px;
     border-radius: 5px;
 }

 .WeatherDescription {
     font-size: 12px;
 }

 .WeatherData {
     padding: 5px;
     
 }

.WeatherDataUl {
     margin: 15px;
 }
